.index_bodysub{
    background: url('background.jpg') no-repeat center center fixed;
    height: 100%;
    width: 100%;
    position: absolute;
    background-size: cover;
    overflow-y: hidden;
}
.main_box{
    width: 30%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: auto;
}
.main_boxinner_sub{
    background-color: #fff;
    border-radius: 5px;
    padding: 10px;
    font-size:1.2em;
    margin: 10px 0px;
    font-family: 'Kalam', cursive;
}